.link {
    text-decoration: none;
    &:hover {
        color: unset;
        text-decoration: none;
    }
    .title {
        color: #14aaf9;
        line-height: 17px;
        width: 35%;
    }
}

@media screen and (max-width: 992px) {
    .title {
        display: none;
    }
}
