.header {
    display: flex;
    justify-content: space-between;
    .title {
        color: #14aaf9;
        line-height: 18px;
        width: 35%;
        margin-top: 17px;
        &:hover {
            text-decoration: none;
        }
    }
    .link {
        text-decoration: none;
        &:hover {
            color: unset;
        }
    }
}
@media screen and (max-width: 992px) {
    .title {
        display: none;
    }
}
