.line {
    padding-left: 15px;
    border-left: 3px solid #ceefef;
}
@media screen and(max-width: 768px) {
    .line {
        border: 0;
    }
    .navbarCollapse {
        position: absolute;
        width: 160px;
        right: -17px;
        top: 53px;
        background-color: #09b0e8;
        z-index: 100;
        .navItem {
            margin: 0 !important;
            &:hover {
                background-color: #0594c4;
            }
        }

        .navLink {
            text-align: center;
            color: white;
        }
    }
}
