.footer {
    background-color: #14aaf9;
    color: white;
}
@media screen and (max-width: 768px) {
    .footer {
        .logoFooter {
            display: none;
        }
        .footerText {
            padding-bottom: 20px !important;
            text-align: center !important;
        }
    }
}
