.footer {
    background-color: #007fff;
    color: white;
    height: 100px;
    .logoFooter {
        margin-top: 20px;
    }
    .footerText {
        text-align: right;
        width: 100%;
        margin-top: 60px;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        .logoFooter {
            display: none;
        }
        .footerText {
            margin-top: 40px;
            text-align: center;
        }
    }
}
