.introduceTitle {
    color: #04509b;
    position: relative;
    &::after {
        content: "";
        left: 116px;
        width: 5%;
        height: 1px;
        top: 12px;
        position: absolute;
        background-color: #04509b;
    }
    .introduceContent {
        color: #14aaf9;
    }
}
@media screen and (max-width: 768px) {
    .introduceTitle {
        &::after {
            width: 2%;
        }
    }
}
